<%= stylesheet_link_tag 'aindex', :media => "all" %>
<head>

<div class="ichi">
<h1>About</h1>

<p>このサイトは、世界各国の友達と気軽に言語学習を行えるサイトです。</p>


<p>さあ、チャット機能から自分の学びたい言語のネイティブスピーカーとお話してみましょう！</p>
</div>

</head>