.ichi{

    background-image: url("AdobeStock_513836255.jpeg");
    background-repeat:  no-repeat;                /* 画像の繰り返しを指定  */              
    width:auto;                                   /* 横幅のサイズを指定    */
    height:auto; 

}